@media (max-width: 320px){
    .imgOferta{
        height: 250px;
        width: 250px;
        object-fit: cover;
        margin-top: 60px;
        border-radius: 10px;
        border: 4px white double;
        margin: 10px;
    }
    .CenterImg{      
    display: flex;
    flex-direction: column;
    }
    .navbar{
        position: fixed;
        z-index: 1000;
        width: 100%;
        top: 0;
    }
    .marginSpace{
        margin-top: 40px;
    }
}